<footer>
  <div class="grid-container-footer">

    <div class="footer-nav">
      <ul>
        {% for link in linklists[section.settings.footer_linklist].links %}
        <li> <a href= "{{link.url}}">{{link.title}}</a></li>
        {% endfor %}
      </ul>
    </div>
    <div class="footer-address">
      <p><strong>{{ section.settings.company-name }}</strong> / {{ section.settings.company-address }}</p>
    </div>
    <div class="footer-social">
      <ul>
        {% if section.settings.facebook != blank %}
        <li>
          <a href="{{ section.settings.facebook }}">
            <i class="fab fa-facebook-f"></i>
            </a>
        </li>
        {% endif %}
        {% if section.settings.instagram != blank %}
        <li>
          <a href="{{ section.settings.instagram }}">
            <i class="fab fa-instagram"></i>
            </a>
          </li>
          {% endif %}
          {% if section.settings.twitter != blank %}
        <li>
          <a href="{{ section.settings.twitter }}">
          <i class="fab fa-twitter"></i>
          </a>
        </li>
        {% endif %}
        {% if section.settings.youtube != blank %}
        <li>
          <a href="{{ section.settings.youtube }}">
            <i class="fab fa-youtube"></i>
          </a>
        </li>
        {% endif %}
      </ul>


    </div>

    <div class="footer-connect">
      <h3>connect with us</h3>
      <input type="text" placeholder="Subscribe - Enter Email" style="font-style:italic">
    </div>

    <div class="footer-cards">
      <ul>
        <li><i class="fab fa-cc-visa"></i></li>
        <li><i class="fab fa-cc-mastercard"></i></li>
        <li><i class="fab fa-cc-paypal"></i></li>
      <li><i class="fab fa-cc-stripe"></i></li>
      </ul>
      </li>
    </div>
  </div>
</footer>

{% schema %}
  {
    "name": "Footer",
    "settings": [
    {
      "type": "url",
      "id": "facebook",
      "label": "Facebook Link"
    },
    {
      "type": "url",
      "id": "instagram",
      "label": "Instagram Link"
    },
    {
      "type": "url",
      "id": "twitter",
      "label": "Twitter Link"
    },
    {
      "type": "url",
      "id": "youtube",
      "label": "Youtube Link"
    },
      {
        "type": "link_list",
        "id": "footer_linklist",
        "label": "Link List",
        "default": "main-menu"
      },
      {
        "type": "text",
        "id": "company-name",
        "label": "Company Name"
      },
      {
        "type": "textarea",
        "id": "company-address",
        "label": "Company Address"
      }
    ]
  }
{% endschema %}
